.classpath
.settings/
.project
.factorypath
target/
test.*
docker-compose.yml
Dockerfile-database
db/
schuglemaps.tar.gz
src/main/resources/filtered.xml
src/main/resources/streetObjects.smaps
src/test/resources/filtered.xml
src/test/resources/allSchools.xml
src/main/resources/application.yml
src/test/resources/streetObjects.smaps
